@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

body{
    background-color: #f9f9f9;
}
header{
    height: 10vh;
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#selfcare-logo{
    display: flex;
    gap: 5px;
    align-items: center;
}

.user-tools{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 10vw;
    height: 60px;
    padding: 10px;
    margin-right: 30px;
}

.user-tools > a{
    width: 10vw;
    height: 30px
}
.tool{
    width: 2vw;
}

#banner-sec{
    width: 100%;
}

#banner{
    box-sizing: border-box;
    max-width: 100%;
}

#content{
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250vh;
}

.cat-produto{
    width: 90%;
    height: 240vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
    justify-content: space-evenly;
}

.produto{
    width: 25vw;
    height: 79vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.img-prod{
    width: 25vw;
    height: 330px;
    position: relative;
}
.img-card{
    width: 24.5vw;
    box-sizing: border-box;
}
.produto > p > strong{
    color: #5CA720;
    text-decoration: underline #5CA720 solid 2px;
}

.desc-prod{
    visibility: hidden;
    color: #ffff;
}

.img-prod:hover > .desc-prod{
    height: 170px;
    width: 24.5vw;
    visibility: visible;
    border-radius: 6px;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    color: #ffff;
    background-color: rgba(92, 167, 32, 0.7);
    opacity: 0.8;
    z-index: 1;
}

main > section > div > figure > img{
    height: 300px;
    width: 100%;
}

.buy-prod{
    height: 40px;
    width: 35%;
    background-color: #5CA720;
    text-align: center;
    color: #ffff;
    border: none;
    box-shadow: 0px 3px 4px 0px black;
    border-radius: 15px;
    font-size: 1.2em;
}

.buy-prod:hover{
    transition: 0.2s;
    background-color: #512200BD;
}
main > p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
main > p > strong{
    color: #5CA720;
}

footer{
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer > section > nav{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-sec{
    border-top: solid 1px gray;
    width: 100%;
    height: 400px;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-sec2{
    border-top: solid 1px gray;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-email{
    display: inline-block;
    width: 34vw;
    height: fit-content;
}

.email-in{
    width: 25vw;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: white;
    outline: none;
}

.input-email > div{
    border-radius: 6px;
}

.email-btn{
    width: 8vw;
    height: 50px;
    background-color: #5CA720;
    border: none;
    border-radius: 6px;
    color: #ffff;
    font-size: medium;
    text-align: center;
}

.email-btn:hover{
    background-color: #512200BD;
    transition: 0.2s;
}

a{
    display: block;
    text-decoration: none;
    color: black;
    width: 10vw;
}

.sites{
    width: 10%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sites > a{
    width: 3vw;
    height: 40px;
}
.sites > a > img{
    width: 100%;
}

#cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
    height: 40px;
}
#cards > a {
    display: flex;
    align-items: center;
    width: 3vw;
    height: 57px;
}
.img-footer{
    width: 3vw;
}

@media screen and (max-width: 970px){
    .buy-prod{
        height: 40px;
        width: 40%;
        background-color: #5CA720;
        text-align: center;
        color: #ffff;
        border: none;
        box-shadow: 0px 3px 4px 0px black;
        border-radius: 15px;
        font-size: 1.2em;
    }
    .produto{
        width: 25vw;
        height: 70vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .img-prod:hover > .desc-prod{
        height: 150px;
        width: 24.5vw;
        visibility: visible;
        border-radius: 6px;
        transition: 0.2s;
        position: absolute;
        top: 35%;
        color: #000;
        background-color: rgba(92, 167, 32, 0.7);
        opacity: 0.8;
        z-index: 1;
    }
    .desc-prod p{
        text-overflow: ellipsis clip;
    }
    .img-prod{
        width: 25vw;
        height: 250px;
        position: relative;
    }
}

@media screen and (max-width: 800px) {
    .tool{
        width: 3vw;
    }
    .principal{
        height: 490vh;
    }
    .cat-produto{
        height: 480vh;
    }
    .produto{
    width: 40vw;
    height: 90vh;
    }
    .img-card{
        width: 40vw;
    }
    .img-prod{
        width: 40vw;
        height: 50vh;
    }
    .img-prod:hover > .desc-prod{
        height: 180px;
        width: 40vw;
        visibility: visible;
        border-radius: 6px;
        transition: 0.2s;
        position: absolute;
        top: 47%;
        color: #000;
        background-color: rgba(92, 167, 32, 0.7);
        opacity: 0.8;
        z-index: 1;
    }
    .form-email{
        display: flex;
    }
    .email-in{
        gap: 10px;
    }
    .email-btn{
        width: 40%;
        height: 50px;
        background-color: #5CA720;
        border: none;
        border-radius: 6px;
        color: #ffff;
        font-size: small;
        text-align: center;
    }
}
@media (max-width: 600px) {
    .tool{
        width: 4vw;
    }
}
@media  (max-width: 430px) {
    header{
        display: flex;
        align-items: center;
        height: 7vh
    }
    #banner{
        height: 23vh;
        width: 100%;
    }
    .tool{
        width: 5vw;
    }
    .principal{
        height: 880vh;
    }
    .cat-produto{
        height: 870vh;
    }
    .produto{
        width: 70vw;
    }
    .img-card{
        width: 70vw;
    }
    .img-prod{
        width: 70vw;
        height: 50vh;
    }
    .img-prod:hover > .desc-prod{
        height: 155px;
        width: 70vw;
        visibility: visible;
        border-radius: 6px;
        transition: 0.2s;
        position: absolute;
        top: 47%;
        color: #000;
        background-color: rgba(92, 167, 32, 0.7);
        opacity: 0.8;
        z-index: 1;
    }
    .footer-sec{
        height: 70vh;
        display: flex;
        padding: 0;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
    }
    .form{
        width: 100%;
        padding: 15px;
    }
    .form-email{
        height: 115px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .email-in{
        width: 70vw;
        border-radius: none;
    }
    .email-btn{
        width: 70vw;
    }
    .footer-sec nav{
        width: 70vw;
        padding: 15px;
    }
    .footer-sec nav a{
        width: fit-content;
        height: 4vh;
    }
    .footer-sec2{
        width: 100%;
        height: 40vh;
    }
    .sites{
        width: 40vw;
    }
    .sites > a > img{
        width: 7vw;
    }
    #cards{
        width: 70vw;
    }
    .img-footer{
        width: 6vw;
    }
}